body {
  background-image: url(backgrounds/background.jpg);
}
p {
  text-align: center;
  font-family: Arial;
  color: grey;
  font-size: 14px;
  line-height: 3px;
  text-align: center;
  
}
.but {
  background-color: rgb(54, 128, 255);
  height: 36px ;
  width: 300px;
  border: none;
  border-radius: 8px;
  text-align: center;
  color: white;
  transition-duration: 0.3s;
}
.but:hover {
  cursor: pointer;
  opacity: 80%;
}
.first-name,
.last-name {
  padding-left: 7px;
  display:inline-block;
  width: 140px;
  border-radius: 8px;
  border-style: solid;
  border-width: 1px;
  height: 36px;
  text-align: left;
  
  
}
input:focus {
  outline-color: gray ;
  outline-width: 1.5px;
  outline-style: solid ;
}

.email-box {
  padding-left: 7px;
  width: 292px;
  border-radius: 8px;
  border-style: solid;
  border-width: 1px;
  height: 36px;
  text-align: left;

}