body {
  font-family: Roboto, Arial;
  padding: 0;
  margin: 0;
  background-color: rgb(243, 243, 243);
}
a {
  color:black;
  text-decoration: none;
}
.nav-belt {
  display: flex;
  justify-content: space-between;
  background-color: rgb(243, 243, 243);
}


.logo {
  display: inline-block;
  width: 70px;
  margin-right: 30px;
  border-radius: 4px;
  background-color:transparent;
  margin-top: 2px;
  margin-bottom: 4px;
}

.category-dropdown {
  font-size: 13px;
  height: 25px;
  width: auto;
  border: solid;
  border-radius: 6px;
  border-color: lightgray;
  color: gray;
  padding-left: 3px;
}  
.logo:hover {
  cursor: pointer;
}
.daily-sales {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-bottom: 0;
}
.daily-sales:hover {
  cursor: pointer;
}
.sales-images {
  width: 100%;
  margin-bottom: 0 ;

}
.logo-and-select{
  margin-left: 11px;
  display: flex;
  align-items: center;
}
.buttons {
  margin-right: 6px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.log-in-button,
.sign-up-button {
  margin-left: 12px;
  height: 25px;
  background-color: rgb(2, 158, 255);
  border-radius: 4px;
  border-color: transparent;
  font-size: 11px;
  color: white;
  transition-duration: 0.3s;
}
.discover-button,
.support-button {
  font-size: 13px; 
  border: solid;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  border-color: transparent;
  padding-bottom:14px ;
  padding-top:14px;
  margin-left: 8px;
  color: rgb(96, 96, 96);
}
.support-button:hover,
.discover-button:hover {
  cursor: pointer;
  border: solid;
  border-color: rgb(96, 96, 96);
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
}
.log-in-button:hover,
.sign-up-button:hover {
  cursor: pointer;
  opacity: 70%;
}

.search-bar {
  height: 20px;
  margin-bottom: 3px;
  width: 100%;
  border: solid;
  border-radius: 5px;
  border-color: lightgray;
  border-width: 1.5px;
}
.phone-catalog {
  margin-top: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

@media (max-width: 450px) {
  .logo {
    margin-right: 0 ;
  }
  
}
@media (max-width: 418px) {
  .discover-button,
  .support-button {
    font-size: 0px;
  }
  
}

.phone-image {
  display: flex;
  justify-content: center;
  width: 50%;
}
.phone-image:hover {
  cursor: pointer;
  opacity: 80%;
}
.phone-preview {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: white;
  align-items: center;
  width: 98%;
  padding-bottom: 10px;
  margin-bottom: 5px;
  
  transition-duration: 0.3s;
}
.phone-info {
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  display: flex;
  flex-flow: column nowrap;
  flex-grow: 1;
  margin: 0 auto;
  text-align: center;
  flex-direction: column;

}
.phone-title {
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  color: inherit;
  display: flex;
  display: -webkit-box;
  font-weight: 600;
  line-height: 1.25;
  margin: 0;
  margin-top: 15px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: pre-line;
  word-break: break-word;
}
.phone-title:hover {
  opacity: 80%;
  cursor: pointer;
}
.phone-discription {
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  color: inherit;
  display: flex;
  display: -webkit-box;
  font-weight: 400;
  line-height: 1.25;
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: pre-line;
  word-break: break-word;
  font-size: 9px;
  margin-top: 0.3125vw;
  
}
.phone-discription:hover {
  opacity: 80%;
  cursor: pointer;
}
.chevron-right {
  position: absolute;
  bottom: 52%;
  width: 5%;
  right: 20px;
  transition-duration: 0.1s;
  opacity: 0.5;
}
.chevron-left {
  position: absolute;
  bottom: 50%;
  width: 5%;
  left: 18px;
  transition-duration: 0.1s;
  opacity: 0.5;
}
.chevron-right:hover,
.chevron-left:hover {
  opacity: 0.3;
  cursor: pointer;
}